deb/
dist/
doc/html/
rpm/
src/core/java/org/openzal/zal/ZalBuildInfo.java
src/zal.iml
compat_reports/
openzal-*.deb
openzal-*.rpm
/zimbra
/lib
/release
/tmp
/private
target/
.idea/
*.iml
open-zal-8.0.0/src/
open-zal-8.0.1/src/
open-zal-8.0.2/src/
open-zal-8.0.3/src/
open-zal-8.0.4/src/
open-zal-8.0.5/src/
open-zal-8.0.6/src/
open-zal-8.0.7/src/
open-zal-8.0.8/src/
open-zal-8.0.9/src/
open-zal-8.5.0/src/
open-zal-8.5.1/src/
open-zal-8.6.0/src/
open-zal-8.7.0/src/
open-zal-8.7.1/src/
open-zal-8.7.10/src/
open-zal-8.7.11/src/
open-zal-8.7.2/src/
open-zal-8.7.3/src/
open-zal-8.7.4/src/
open-zal-8.7.5/src/
open-zal-8.7.6/src/
open-zal-8.7.7/src/
open-zal-8.7.9/src/
open-zal-8.8.10/src/
open-zal-8.8.11/src/
open-zal-8.8.12/src/
open-zal-8.8.15/src/
open-zal-8.8.2/src/
open-zal-8.8.3/src/
open-zal-8.8.4/src/
open-zal-8.8.5/src/
open-zal-8.8.6/src/
open-zal-8.8.7/src/
open-zal-8.8.8/src/
open-zal-8.8.9/src/
open-zal-9.0.0/src/
open-zal-x/src/